.footer {
   position: inherit;
   left: 0;
   bottom: 0;
   width: 100%;
   margin-top: 10px;
   color: white;
   text-align: center;
}

.replicate{
    margin-top: 7rem;
}

div {
    text-align: justify;
    text-justify: inter-word;
}

#logo {
height : 200%;
margin-top: -10px;
margin-right: 5px;
margin-bottom: -5px;

}