 
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1000px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #b3b3b3;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }

    p {
      align : justify;
    }

    body { font-size: 1.6em }

    dialog{
      position: absolute;
      top: 0px;
    } 


    .anno-sidebar-text{
      background-color:#f2f2f2;
      height: auto;
      width:  28rem;
      overflow:auto;
      text-align: justify;


    }

    #sidebar-container{
      height: auto;
      width: 300px;
      position: absolute;
      right: 20px;
      background-color: #b9b9da;
      padding: 9px;
      margin: auto;
      text-align: center;
      overflow:auto;
      font-size: 16px;

    }

    #anno-list{
    margin-left: 106rem;
    }

    .annotation-text {
    padding: 20px;

    }